<%= form_with(model: work_exp, local: true) do |form| %>

  <strong>År:</strong>
  <div class="field">
    <%= form.number_field :year, id: :work_exp_year %>
  </div>
  <strong>Virksomhed:</strong>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :work_exp_name %>
  </div>
  <strong>Beskrivelse:</strong>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :work_exp_description, cols: '68', rows: '30' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
