<p id="notice"><%= notice %></p>

<h1>Arbejds erfaring</h1>
<br>
<br>
<% @work_exps.reverse_each do |work_exp| %>
  <h2>
    <strong>År:</strong>
    <p><%= work_exp.year %></p>
  </h2>
  <br>
  <h2>
    <strong>Virksomhed:</strong>
    <p><%= work_exp.name %></p>
  </h2>
  <br>
  <h2>
    <strong>beskrivelse:</strong>
    <p><%= work_exp.description%></p>
  </h2>
  <br>
  <br>

<% end %>

<br>

<% if current_user %>
  <%= link_to 'Ny', new_work_exp_path %>
<% end %>