<p id="notice"><%= notice %></p>

<h1><%= @project_type.name%> projekter</h1>
<br>
<br>

<% @project_type.projects.each do |project| %>
  <div class="projectbox" style='display: flex; flex-direction: column; margin-top: 20px;'>
    <strong><%= project.name %></strong>
    <br>
    <br>
    <div class="imageandtextbox" style='display: flex;'>
      <%= image_tag(project.image.url, style: "height: 200px;")%>

      <p><%= project.description %></p>
    </div>
    <br>
  </div>
  <div class="linkbox" style=" margin-top: 10px; width: 100%;">
    <% @links.where(project_id: project.id).each do |link|%>
      <%= link_to link.name, link.link%>
    <%end%>
  </div>
  <br>
<%end%>
