<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="banner">

  <div class="smartphone-background">
    <div class="peripial-box">
      <div class="speaker"></div>
      <div class="camera"></div>
    </div>
    <div class="screen">
      <%= link_to "about-me", home_about_me_path%>
    </div>
    <div class="home-button"></div>
    <div class="icon"></div>
  </div>


  <div class="box">
    <div class="on-table">

      <div class="cup-box">
        <div class="s1"></div>
        <div class="s2"></div>
        <div class="s3"></div>
        <div class="s4"></div>

        <div class="cup">
          <div class="cup-text">
            <h1>I</h1>
            <svg fill="red" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>
            <h1>ROR</h1>
          </div>
        </div>

      </div>

      <div class="screen-box">
        <div class="pc-screen">
          <%=link_to "about-me", home_about_me_path%>
        </div>
        <div class="pc-leg"></div>
        <div class="pc-foot"></div>
      </div>


      <div class="pc-tower">
        <div class="drive"></div>
        <div class="drive"></div>
        <div class="drive"></div>
        <div class="on"></div>
        <div class="load"></div>
        <div class="button">
          <div class="button-light"></div>
        </div>
      </div>
    </div>


    <div class="table"></div>
  </div>
</div>

</body>
</html>