
<!DOCTYPE html>
<html>
  <head>
    <title>OnlineCv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <label for="navbar-more">

        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http:/www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
        </svg>

      </label>
      <input type="checkbox" id="navbar-more">
      <ul>
        <li><%=link_to 'Home ', root_path%></li>
        <li><%=link_to 'Om mig', home_about_me_path %></li>
        <li><%=link_to 'Arbejds erfaring', work_exps_path%></li>
        <li><%=link_to 'Uddanelse', educations_path%></li>
      </ul>
    </div>


    <div class="container">
      <div class="container-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>