
<!DOCTYPE html>
<html>
  <head>
    <title>OnlineCv</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <label for="navbar-more">More</label>
      <input type="checkbox" id="navbar-more">
      <ul>
        <li><%=link_to 'home ', root_path%></li>
        <li><%=link_to 'langt navn ', root_path%></li>
        <li><%=link_to 'endnu længere navn ', root_path%></li>
        <li><%=link_to 'something ', root_path%></li>
        <li><%=link_to 'someone ', root_path%></li>
        <li><%=link_to 'somehow ', root_path%></li>
      </ul>
    </div>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>